<launch>
  
  <arg name="host" default="192.168.0.3" />
  
  <!-- Connect to the Lidar -->
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node" output="screen">
    <param name="host" value="$(arg host)" />
  </node>

  <!-- Connect to the Arduino -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="~port" value="/dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_5533033393035140E020-if00" />
    <param name="~baud" value="57600" />
  </node>

  <!-- AAR2 static transforms-->
  <node pkg="aar2_bringup" name="base_laserTfBroadcaster_AAR2" type="base_laserTfBroadcaster_AAR2" output="screen"/>
  <node pkg="aar2_bringup" name="lidar_TfBroadcaster" type="lidar_TfBroadcaster" output="screen"/>

  <!-- 2D scan to 3D pointcloud-->
  <node pkg="aar2_bringup" name="laserToCloud_filtered" type="laserToCloud_filtered" output="screen"/>
  <node type="point_cloud_assembler" pkg="laser_assembler" name="my_assembler">
     <remap from="cloud" to="cloud_in"/>
     <param name="max_clouds" type="int" value="200" />
     <!--param name="fixed_frame" type="string" value="odom" /-->
     <param name ="fixed_frame" type="string" value="base_link"/>
  </node>

  <!-- Publish the pointcloud -->
  <node pkg="aar2_bringup" name="periodic_snapshotter" type="periodic_snapshotter" output="screen"/>

  <!-- Pointcloud to pointcloud2 -->
  <node pkg="point_cloud_converter" name="point_cloud_converter" type="point_cloud_converter_node" >
     <remap from="points_in" to="assembled_cloud"/>
     <remap from="points2_out" to="assembled_cloud_2" />
  </node>

  <!-- Octomap -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
     <param name="resolution" value="0.05" />
     <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
     <param name="frame_id" type="string" value="odom" />
     <param name="base_frame_id" type="string" value="base_link" />	
     <!-- maximum range to integrate (speedup!) -->
     <param name="sensor_model/max_range" value="5.0" />
     <!-- Map is unknowed so false -->
     <param name="latch" value="false" />	
     <!-- data source to integrate (PointCloud2) -->
     <remap from="cloud_in" to="assembled_cloud_2" />
     <param name="pointcloud_min_z" value="0.2" />
     <remap from="projected_map" to="map" />

     <!-- Ground Filter -->
     <!--param name="filter_ground" value="true" /-->
     <!--param name="ground_filter/plane_distance" value="0.15" /-->
     <!--param name="sensor/_model/[hit|miss]" value="0.5 / 0.5" /-->
  </node>

  <!-- Pointcloud to Laser Scan -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node">
     <remap from="cloud_in" to="assembled_cloud_2" />
     <remap from="scan" to="scanMap" />
     <param name="min_height" type="double" value="0.2" />
     <param name="max_height" type="double" value="1.3" />
  </node>

  <!--Navigation-->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 /map /odom 50" />
  <node pkg="move_base" type="move_base" respawn="false" name=	"move_base" output="screen">
    <rosparam file="$(find aar2_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find aar2_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find aar2_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find aar2_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find aar2_2dnav)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
